{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ 'board_game.index_page.title'|trans }}</h1>
<ul>
    {% for board_game in board_games %}
    <li>{{ board_game.name }}
        <div>{% for category in board_game.classifiedIn %}
                {{ category.name }} {{ loop.last ? '': ', ' }}
            {% endfor %}</div>
        <a href="{{ path('app_boardgame_show', { id: board_game.id }) }}">
            {{ 'board_game.action.see'|trans }}
        </a></li>
    {% endfor %}
</ul>
{% endblock %}
