{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_boardgame_index') }}">
        {{ 'board_game.action.back_to_list'|trans }}
    </a>
    <h1>{{ board_game.name }}</h1>
    {% if board_game.description %}
    <div>{{ board_game.description }}</div>
    {% else %}
    <div>{{ 'board_game.description.no_value'|trans }}</div>
    {% endif %}
    <dl>
        <dt>{{ 'board_game.released_at.label'|trans }}</dt>
        <dd>{{ board_game.releasedAt | date('d-m-Y') }}</dd>
        {#
        le composant PropertyAccessor essaye dans l'ordre:
         - attribut releasedAt
         - appeler la méthode releasedAt()
         - appeler la méthode getReleasedAt()
         - appeler la méthode isReleasedAt()
         - appeler la méthode hasReleasedAt()
        #}
        <dt>{{ 'board_game.age_group.label'|trans }}</dt>
        <dd>{{ 'board_game.age_group.display'|trans({
                '%value%': board_game.ageGroup
            }) }}</dd>
        <dd>{{ board_game.ageGroup }} ans</dd>
    </dl>
    <div>{{ board_game.authoredBy.email }}</div>
    <div>{% for category in board_game.classifiedIn %}
            {{ category.name }} {{ loop.last ? '': ', ' }}
        {% endfor %}</div>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin_boardgame_edit', {id: board_game.id}) }}">{{ 'board_game.action.edit'|trans }}</a>
    {% endif %}
{% endblock %}
